Data Processing/node_module/api/routes/movie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="movie">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="movie_title" type="xs:string" />
              <xs:element name="genres" type="xs:string" />
              <xs:element name="character_name" type="xs:string" />
              <xs:element name="actore_name" />
              <xs:element name="amount" type="xs:unsignedInt" />
              <xs:element name="original_Lang" type="xs:string" />
              <xs:element name="vote_avarage" type="xs:unsignedByte" />
              <xs:element name="vote_counte" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>